{% extends 'base.html' %}
{% block title %}Editing BlogPost{% endblock %}
{% block content %} 



<h1>Update BlogPost</h1>

<br>
<br>

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <div class="form-group">
            
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            

                <button class="btn btn-secondary">Update</button>
                <!-- <button class="btn btn-secondary" href = "{% url 'home' %}">Back</a></button> -->
            </div>
    {% else  %}
            You're not allowed here! Please try again!
    {% endif %}
    
{% else %}
    <h1>You are not allowed here!</h1>

{% endif %}

{% endblock %}